/* style.css */
body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-bottom: 20px; /* Espacement entre le contenu et le score */
    position: fixed;
}

#phrase {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    user-select: none;
}

#inputUser {
    margin-bottom: 20px;
    font-size: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    text-align: center;
}

#chrono {
    font-size: 20px;
    color: #333;
}

#score-container {
    text-align: center;
}

#score {
    font-size: 24px;
    color: #333;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}

#header {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 97%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

}

#title {
    font-size: 24px;
    margin-bottom: 10px;
    color: #808080;
}

#copyright {
    font-size: 12px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}



