<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2 class="page-title">Inscription</h2> <!-- Titre de la page -->
    <div class="container">
        <form method="POST" action="/register">
            <input type="text" name="username" placeholder="Nom d'utilisateur" required><br>
            <input type="email" name="email" placeholder="Adresse email" required><br>
            <input type="password" name="password" placeholder="Mot de passe" required><br>
            <button type="submit">Créer un compte</button>
        </form>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        <p>Déjà un compte ? <a href="{{ url_for('login') }}">Connectez-vous ici</a>.</p>
    </div>
</body>
</html>
